textarea {
    width: 100%;
    height: 150px;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}
input[type=text], select {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.mainContent {
	padding: 10px;
	margin: auto;
	width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
h1 {
	text-align: center;
}