body{
    width: 1025px;
    margin: 0 auto;
}

#container1 {
    display: inline-block;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 5px 1px black;
    margin: 10px auto;
    border: 5px solid transparent;
}

#container2 {
    float: right;
    display: inline-block;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 5px 1px black;
    margin: 10px auto;
    border: 5px solid transparent;
}

.button {
    background-color: #cc0000;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

h1 {
    color: #cc0000;
    text-align: center;
}